header {
	background-image: url(../assets/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	background-position: center;
}

// NAVIGATION STYLES

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: solid 1px $breaklinegrey;
	width: 100%;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation__header {
	display: flex;
}

.hamburger {
	display: none;
}

.navigation img {
	margin: auto;
	padding-top: 29px;
}

.nav__link {
	display: inline-block;
	padding: 30px 9px;
	letter-spacing: 2px;
}

.nav__link:hover {
	color: $green;
}

.nav__link--donate {
	padding: 0;
	margin: 0;
	padding: 11px;
	margin-left: 51px;
	border: solid 2px $white;
}

.nav__link--donate:hover {
	background: $white;
}


// HEADER SECTION STYLES

.header__content {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.subscribe {
	width: 37%;
	
}

.episode {
	width: 40%;
}

// SUBSCRIBE STYLES

.subscribe__header, .subscribe__blurb {
	text-transform: none;
}

.subscribe__header {
	padding-bottom: 45px;
}

.subscribe__header--accent {
	color: $lightgrey;
}

.subscribe__blurb {
	letter-spacing: 1px;
	padding-bottom: 40px;
	border-bottom: 2px solid $breaklinegrey;
}

.subscribe__section {
	display: flex;
	align-items: center;
	padding-top: 52px;
}

.subscribe__button {
	display: inline-block;
	background-color: $green;
	padding: 18px 32px;
	border-radius: 50px;
	letter-spacing: 2px;
	font-weight: $normal;
	margin-right: 13px;
}

.subscribe__button:hover {
	background: $white;
	color: $green;
}

.socialMedia__link {
	padding: 8px;
}

.socialMedia__link:hover {
	color: $green;
}

// FIND GENERAL STYLING FOR EPISODE DIVS IN EPISODE PARTIAL (_episode.scss)

.header_episode .episode__header {
	font-weight: $normal;
}

.episode__blurb {
	padding-top: 36px;
}


// RESPONSIVE LARGE FOR THE HEADER 

@include respond-to("large") {
	.socialMedia {
		display: flex;
		flex-wrap: wrap;
	}	
}

// RESPONSIVE MEDIUM FOR THE HEADER

@include respond-to("medium") {
	.header__content {
		justify-content: center;
		flex-direction: column;
		padding-top: 100px;
	}
	.subscribe, .episode {
		width: 75%;
		padding-bottom: 100px;
	}

	.subscribe__header, .subscribe__blurb {
		padding-bottom: 10px;
	}

	.subscribe__section {
		padding-top: 10px;
	}

}

// RESPONSIVE SMALL FOR THE HEADER

@include respond-to("small") {
	.navigation {
		border-bottom: none;
	}
	
	.navigation__header {
		display: flex;
		align-items: center;
		img {
			padding-top: 0;
		}
	}
	
	.hamburger {
		display: inline-block;
		padding-right: 0;
	}

	.show {
		visibility: none;
		height: 100vh;
		flex-direction: column;
		justify-content: flex-start;
		@include fontSize(15);
		a {
			padding: 20px;
		} 
	}

	.hide {
		visibility: hidden;
	}

	.nav__link {
		padding: 11px;
	}

	.nav__link--donate {
	margin: 0;
	padding: 11px;
	border: none;
	}

	.subscribe__section {
		.subscribe__button {
			margin: 0;
		}
	}

	.subscribe, .header_episode {
		width: 100%;
	}
	
	.header__content {
		padding-top: 0;
	}
	
}








