// variables for typography, general colors, etc.

//*** COLOURS

$white: #ffffff;
$black: #1a171a;
// I choose to only go with 2 greys for the fonts instead of 4 for consistency
$lightgrey: #c8c8c8;
$darkgrey: #7f7e7f; 
$breaklinegrey: rgba(255, 255, 255, 0.2);
$green: #00e77c; 
$purple: #624E6A;


// *** TYPOGRAPHY

$ptsans: 'PT Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

$light: 300;
$normal: 400;
$bold: 700;

